$bt_white: #ffffff;
$bt_gray: #eeeeee;
$bt_light_gray: #FAF7F7;

$bt_multiline_steelblue: steelblue;
$bt_multiline_lightblue: lightblue;
$bt_multiline_crimson: crimson;
$bt_multiline_dark: #1F1F2E;
$bt_vertical_line_stroke: #0074D9;