/* Changes to the Semantic UI */

.ui.thin.left.sidebar {
    width: 300px;
    background-color: #0c2e53;
}

.ui.icon.menu .item {
    font-size: 1.1rem;
    text-align: left;
    padding-left: 3rem;
    border-bottom: 0px none;
    color: #8daecf !important;
}

.ui.inverted.menu .active.item {
    background-color: #092441;
    color: #4194c6 !important;
    border-left: 6px solid #4194c6;
    padding-left: calc(3rem - 6px);
}

.ui.vertical.menu .item > i.icon {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}

.ui.labeled.icon.menu .item > .icon:not(.dropdown) {
    display: inline;
    margin-right: 1.5rem !important;
    font-size: 1.35rem !important;
}

.pushable:not(body) {
    transform: none;
}

.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .fixed,
.pushable:not(body) > .pusher:after {
    position: fixed;
}

/* Custom styling */

.with-bottom-item {
    display: flex !important;
    justify-content: space-between;
}

.bottom-item {
    margin-top: auto;
    margin-bottom: 1rem;
}

.logo {
    padding: 0.2rem 0.1rem 0.2rem 0.1rem !important;
    margin-bottom: 1rem;
    background-color: #092441 !important;
}

.logo:hover {
    opacity: 0.8;
    transition: 0.3s !important;
}
