.organofacies-graph {
  .organofacies-box {
    stroke: grey;
    stroke-width: 0.5px;
  }
  .organofacies-label {
    fill: #FFFFFF;
    text-anchor: middle;
    font-size: 0.7rem;
  }
  .organofacies-border {
    stroke: #000000;
  }
}